<footer class="footer-inverse">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<ul class="list-inline">
		            <li><a href="#"><i class="share-box fa fa-weibo"></i></a></li>
		            <li><a href="#"><i class="share-box fa fa-facebook"></i></a></li>
		            <li><a href="#"><i class="share-box fa fa-renren"></i></a></li>
		            <li><a href="#"><i class="share-box fa fa-tencent-weibo"></i></a></li>
				</ul>
				 <p>©️2016 gdxw.枫林杀 </p>
			</div>
			<div class="col-md-3">
				<ul class="list-unstyled">
					<li><a href="#">关于我</a></li>
					<li><a href="#">联系我</a></li>
					<li><a href="#">提交问题</a></li>
					<li><a href="#">合作交流</a></li>
				</ul>
			</div>
			<div class="col-md-5">
				<p>“有木生山上，名曰枫木。枫木，蚩尤所弃其桎梏；是谓枫木；蚩尤为黄帝所得，械而杀之，已摘弃其械，化而为树也；”</p>
				<p>——《山海经·大荒南经》</p>
			</div>
		</div>
		<div class="row">
			
		</div>
	</div>
</footer>