<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html"><img src="{{ site.logo }}" alt="{{ site.title }}"></a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li> <a href="/categories.html"> <i class="fa fa-book"></i> 分 类 </a> </li>
          <li> <a href="/tags.html"> <i class="fa fa-tag"></i> 标 签 </a> </li>
          <li> <a href="/archives.html"> <i class="fa fa-dropbox"></i>  归 档 </a> </li>
          <li> <a href="/faqs.html"> <i class="fa fa-cloud"></i> 备 忘 </a> </li>
          <li> <a href="/about.html"> <i class="fa fa-user"></i> 关 于 </a> </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/{{ site.github }}" target="_blank"> <i class="fa fa-github"></i> github</a></li>
      </ul>
    </div>
  </div>
</nav>