<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Gdxw.GitHub.io by gdxw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/material.min.css">
    <script src="/stylesheets/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
      {% include header.html %}
      <main class="mdl-layout__content">
          {% include page.html %}
          {% include footer.html %}
      </main>


    </div>
  </body>
</html>
